<div class="row">
  <div class="col">
    {{status}}
  </div>
</div>
<div class="row">
  <div class="col">
    <button class="btn btn-warning" (click)="exersizeCrud()">Exersize Crud Tests</button>
  </div>
</div>
<div class="row mt-3">
  <div class="col">
    <table>
      <tr *ngFor="let exersize of exersizes">
        <td>{{exersize.name}}</td>
    </table>
  </div>
</div>

<div class="row">
  <div class="col">
    <button class="btn btn-warning" (click)="workoutCrud()">Workout Crud</button>
    <span>Delete data after test:
      <input type="checkbox" [(ngModel)]="isDeleteWorkoutsAfterCrud" (click)="changeIsDeleteWorkoutsAfterCrud()" />
    </span>
  </div>
</div>
<div class="row">
    <div class="col">
      <button class="btn btn-warning" (click)="createWorkoutForDateTest()">Create Workout For Date</button>
      <span>Delete data after test:
        <input type="checkbox" [(ngModel)]="isDeleteWorkoutsAfterCrud" (click)="changeIsDeleteWorkoutsAfterCrud()" />
      </span>
    </div>
  </div>
<div class="row">
  <div class="col">
    <table>
      <tr *ngFor="let workout of workouts">
        <td>
          <span>{{workout.date.toString()}}</span>
          <span>
            <table *ngIf="workout.exersizeSessions && workout.exersizeSessions.Values()">
              <tr *ngFor="let session of workout.exersizeSessions.Values()">
                <td>{{session.exersize.name}}</td>
                <td>{{session.toString()}}</td>
            </table>
          </span>
        </td>
    </table>
  </div>
</div>

<div class="row">
  <div class="col">
    <button class="btn btn-primary" (click)="clearLog()">Clear Log</button>
  </div>
</div>
<div class="row">
  <div class="col">
    <table>
      <tr *ngFor="let logItem of log">
        <td>{{logItem}}</td>
    </table>
  </div>
</div>
