<div class="row mt-1">
  <div class="col" >

  </div>
  <div class="col-8 text-center">
    <h4>Settings</h4>
  </div>
  <div class="col text-right">

  </div>
</div>
<div class="row">
    <div class="col-5 pt-1" (click)="navToAllWorkouts()">
      <span class="nav">
        <a routerLink="/workouts" class=""><i class="chevron fas fa-chevron-left text-info"></i></a>
      </span>
    </div>
    <div class="col-8 text-center">

    </div>
    <div class="col text-right">

    </div>
  </div>

  <div class="row mt-2">
      <div class="col">

        <button class="btn btn-warning btn-block" (click)="resetExersizeList()">Reset Exersize List</button>
      </div>
    </div>
