<div class="row">
  <div class="col ">
    <span>
      <a routerLink="/workouts" class="">All Workouts </a>
    </span>
  </div>
  <div class="col text-center">
    <h4>Workout - {{workout.dateMMMDD()}}</h4>
  </div>
  <div class="col text-right">
    <button type="button" class="btn btn-outline-primary btn-sm mt-1 mb-1">Add Exersize</button>
  </div>
</div>
<div class="row">
  <div class="col">
    <table *ngIf="exersizeSessionModels">
      <tr *ngFor="let model of exersizeSessionModels">
        <td>
          <div class="row">
            <div class="col ">
              <span class="exersize-name">
                <a routerLink="/session/{{workout.dateYYYYMMDD()}}/{{model.exersizeSession.exersize.name}}"
                  class="">{{model.exersizeSession.exersize.name}} </a>
              </span>
            </div>
          </div>
          <div class="row" *ngIf="model.exersizeSession.weight || model.exersizeSession.repititions">
            <div class="col " *ngIf="model.exersizeSession.weight ">
              <span
                class="exersize-detail">Weight:&nbsp;{{model.exersizeSession.weight}}&nbsp;{{model.sessionUm}}</span>
            </div>
            <div class="col " *ngIf="!model.exersizeSession.weight && model.exersizeSession.repititions">
              <span class="exersize-detail">Reps:&nbsp;{{model.exersizeSession.repititions}}</span>
            </div>
          </div>
          <div class="row" *ngIf="model.exersizeSession.TimeUnderLoadSeconds">
            <div class="col ">
              <span class="exersize-detail">Time Under
                Load:&nbsp;{{model.exersizeSession.TimeUnderLoadSeconds}}</span>
            </div>

          </div>
        </td>

    </table>
  </div>
</div>
