<div class="row">
  <div class="col ">
    <span>

    </span>
  </div>
  <div class="col-8 text-center">
    <h4>{{workout.dateMMMDD()}}</h4>
  </div>
  <div class="col text-right">

  </div>
</div>
<div class="row">
    <div class="col-5 pt-1" (click)="navToAllWorkouts()">
      <span class="nav">
        <a routerLink="/workouts" class=""><i class="chevron fas fa-chevron-left text-info"></i></a>
      </span>
    </div>
    <div class="col text-center">

    </div>
    <div class="col-5 text-right">
      <button type="button" class="btn btn-outline-primary btn-sm mt-1 mb-1">Add Exersize</button>
    </div>
  </div>
<div class="row">
  <div class="col">
    <table class="table table-striped" *ngIf="exersizeSessionModels">
      <tr *ngFor="let model of exersizeSessionModels">
        <td class="exersize" (click)="navToExersize(model)">
          <div class="row">
            <div class="col ">
              <span class="exersize-name">
                <a routerLink="/session/{{workout.dateYYYYMMDD()}}/{{model.exersizeSession.exersize.name}}"
                  class="workout-name">{{model.exersizeSession.exersize.name}} </a>
              </span>
            </div>
          </div>
          <div class="row" *ngIf="model.exersizeSession.weight || model.exersizeSession.repititions">
            <div class="col " *ngIf="model.exersizeSession.weight ">
              <span
                class="exersize-detail">Weight:&nbsp;{{model.exersizeSession.weight}}&nbsp;{{model.sessionUm}}</span>
            </div>
            <div class="col " *ngIf="!model.exersizeSession.weight && model.exersizeSession.repititions">
              <span class="exersize-detail">Reps:&nbsp;{{model.exersizeSession.repititions}}</span>
            </div>
          </div>
          <div class="row" *ngIf="model.exersizeSession.TimeUnderLoadSeconds">
            <div class="col ">
              <span class="exersize-detail">
                <label>Time Under Load:</label>&nbsp;{{model.exersizeSession.TimeUnderLoadSeconds}}
              </span>
            </div>

          </div>
          <div class="row" *ngIf="model.exersizeSession.repititions">
            <div class="col ">
              <span class="exersize-detail">
                <label>Reps:</label>&nbsp;{{model.exersizeSession.repititions}}
              </span>
            </div>

          </div>
        </td>
        <td class="arrow">
          <div class="row">
            <div class="col ">
              <i class="chevron fas fa-chevron-right text-info"></i>
            </div>
          </div>
        </td>

    </table>
  </div>
</div>
