<div class="row">
    <div class="col">

    </div>
    <div class="col text-center">
        <h4>Workouts</h4>
      </div>
      <div class="col text-right">
          <app-add-workout-modal (addWorkout)="addWorkout($event)">
          </app-add-workout-modal>
        </div>
  </div>
<div class="row">
    <div class="col">
      <table class=" ">
        <tr *ngFor="let model of workoutModels">
          <td>
            <span>
              <a routerLink="/workout/{{model.workout.dateYYYYMMDD()}}" >{{model.workout.dateMMMDD()}} </a>
            </span>
            <span class="delete"
            *ngIf="!model.isDeletePending"
            ><button type="button" class="btn btn-outline-danger btn-sm" (click)="promptToDelete(model)">Delete</button></span>
            <span class="confirm-delete"
            *ngIf="model.isDeletePending">
                <button type="button" class="btn btn-outline-primary btn-sm" (click)="promptToDelete(model)">Cancel</button>
              <button type="button" class="btn btn-danger btn-sm ml-1" (click)="delete(model)">Delete?</button>
            </span>
          </td>
          <!-- <td class="pad">
              <span>&nbsp;</span>
            </td>
          <td >
            <span *ngIf="!model.isDeletePending"><button type="button" class="btn btn-outline-danger btn-sm" (click)="promptToDelete(model)">Delete</button></span>
            <span *ngIf="model.isDeletePending">
                <button type="button" class="btn btn-outline-primary btn-sm" (click)="promptToDelete(model)">Cancel</button>
              <button type="button" class="btn btn-danger btn-sm" (click)="delete(model)">Delete?</button>
            </span>
          </td> -->
      </table>
    </div>
  </div>
