span.delete {
  padding-left: 9em;
}

span.confirm-delete {
  padding-left: 5em;
}


.workout-date {
  font-size: x-large;
}

td.workout-date {
  width:20em;
}

td.arrow {
  font-size: xx-large;
}
td.arrow i.chevron {
  padding-top:50%;
}
