<div class="row">
  <div class="col">

    <button class="btn btn-warning btn-sm" (click)="clearTimer()">Reset</button>
  </div>
</div>
<div class="row">
    <div class="col text-center seconds-text">
        Seconds:
        <label>{{(counter / 1000) | number:'0.0-0' }}</label>
      </div>
  </div>



<div class="row ">
    <div class="col">
      <div
      class="timer-btn text-center"

      [ngClass]="{ 'timer-btn-danger': isRunning, 'timer-btn-success': !isRunning}"
      (click)="startTimer()"
      >
      <div
      class="timer-btn-text"



      >{{startText}}</div>
    </div>

    </div>
</div>




